* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(imagem/Fundo.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #060606;
}

body * {
  font-family: 'Montserrat', sans-serif;
  
  line-height: 160%;
}

header {
margin-top: 32px;
height: 152px;

}

header div {
  width: 120px;
  margin: auto;
  background-image: linear-gradient(90deg, #BF0404 0%, #F2BD00 100%); 
  border-radius: 50%;
  display: flex;
  padding: 5px;
  transition: transform 1s;
}

header div:hover {
  transform: scale(1.1);
  
}

header img {
  width: 100%;
  border-radius: 50px;
}

main {
  max-width: 580px;
  width: 90%;
  margin: auto;
  display: grid;
  gap: 24px;

  margin: 32px auto 64px auto;
  
}

section {
  color: white;
  background-image:  linear-gradient(90deg, #BF0404 0%, #F2BD00 100%);
  padding-top: 4px;
  border-radius: 10px;
}

section ul li {
  transition: transform 1s;
}

section ul li:hover {
  transform: scale(1.1);
}

section div {
  background-color: #2A2634;
  padding: 24px 32px;
  border-radius: 8px;
}

h2 {
  letter-spacing: -0.47px;
  color: #F2BD00;
}

p {
  color: #A1A1AA;
  letter-spacing: -0.18px;
}

ul {
  display: flex;

  gap: 16px;
  margin-top: 24px;
  list-style: none;

  
}

.games-list img {
border-radius: 8px;
border: 1px solid #F2BD00;
}

.channel-list img {
  border-radius: 8px;
  border: 1px solid #F2BD00;
}

.ator-list img {
  border-radius: 999px;
  border: 1px solid #F2BD00;
}

/* animation */

header div {
  animation: fromTop .7s .2s backwards;
}

main section {
  animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: .3s;
}

main section:nth-child(3) {
  animation-delay: .6s;
}

main section:nth-child(4) {
  animation-delay: .9s;
}

@keyframes fromTop {
  from {
      opacity: 0;
      transform: translateY(-30px)
  }

  to {
      opacity: 1;
      transform: translateY(0)
  }
}

@keyframes fromBottom {
  from {
      opacity: 0;
      transform: translateY(30px)
  }

  to {
      opacity: 1;
      transform: translateY(0)
  }
}
